@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
#root{
    background-image: url('./asset/image/BG.jpg');
    background-size: cover;
    background-position: center center;
}